[Unit]
Description = v6dnsupdater

[Service]
WorkingDirectory = /usr/local/v6dnsupdater
ExecStart = python3 /usr/local/v6dnsupdater/main.py
Restart = always
Type = simple
StandardOutput = append:/var/log/v6dnsupdater
StandardError = append:/var/log/v6dnsupdater

[Install]
WantedBy = multi-user.target