[Unit]
Description = v6dnsupdater
After=network.target nss-lookup.target

[Service]
WorkingDirectory = /usr/local/v6dnsupdater
ExecStart = python3 /usr/local/v6dnsupdater/main.py
Restart = always
Type = simple
StandardError = append:/var/log/v6dnsupdater

[Install]
WantedBy = multi-user.target